.servicegroup2 {
  gap: 20px;

  .item {
    -moz-box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    display: grid;
    grid-template-rows: 1fr 0.4fr;
    border-radius: 12px;
    overflow: hidden;
  }
  .img-container {
    overflow: hidden;
  }
  img {
    transition: 0.4s;
  }
  img:hover {
    transform: scale(1.15);
  }
  .info {
    padding: 25px 30px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
