.services3.group {
  padding-top: 20px;
  gap: 0;
  p {
    padding: 0;
  }
  .item {
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 20px 0;
    .item-h-2 {
      padding: 0;
      color: var(--secondary);
    }
    .info {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    svg {
      background-color: rgba(234, 24, 38, 0.06);
      height: 90px;
      padding: 10px;
      aspect-ratio: 1;
    }
  }
}

@media screen and (min-width: 425px) {
  .services3.group {
    .item {
      display: grid;
      grid-template-columns: min-content 1fr;
      span.item-h-2 {
        grid-area: header;
        padding: 0;
      }
      p {
        grid-area: text;
      }
    }
  }
}
