# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

https://www.battalionroofinghouston.net/services

TO Do 

Logo
    Wrap with a tag to send to home
    Actual image svg
        https://gramentheme.com/html/gramen/assets/imgs/logo/logo-white.svg
    Logo on mobile navbar size

Change Icon.ico

Button Hover animations

footer 
    images
    links
    styling for fonts
    icons styling
    on hover change link color to primary

nav
    on link hover change link color to primary

about us 1 spacing on group

another projects section

image of map

contact form that sends info to email
    links & text for phone,email location in google maps

Blog group

Optimization for page load
Proofread
Generate Sitemap
LightHouse Score

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for commiting if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
