.instructors2 {
  gap: 48px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
    .item-h {
      color: #191919;
      line-height: 1.2;
      font-size: 23px;
      font-weight: 500;
      letter-spacing: 0px;
      padding-top: 21px;
    }
    .info {
      color: #3dbca8;

      padding: 4px;
      border-bottom: 1px solid #e6e6e6;
      width: fit-content;
      margin: auto;
      text-transform: capitalize;
    }
  }

  @media screen and (min-width: 850px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
