.banner1 {
  background-color: var(--primary);
  position: relative;
  color: #fff;
  padding: 100px 20px 60px 20px;
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    max-width: calc(var(--maxContainerWidth) * 0.65);
  }
  .banner-h-1 {
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.2em;
  }
  .text {
    font-size: 1.0625rem;
    font-weight: 500;
  }
  .row {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
    .small-row {
      width: fit-content;
      gap: 5px;
    }
  }
  p {
    color: inherit;
  }
  button,
  input {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .banner1 {
    .row {
      gap: 10px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .banner1 {
    .row {
      justify-content: space-between;
      padding: 0 5px;
    }
    .banner-h-1 {
      font-size: 36px;
    }
    .container {
      display: grid;
      grid-template-columns: 1.4fr 1fr;
      gap: 100px;
      max-width: calc(var(--maxContainerWidth) * 0.85);
    }
    .left {
      text-align: left;
      justify-content: start;
    }
  }
}
