.item5 {
  display: flex;
  flex-direction: column;

  .info {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 425px) {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
