.header2 {
  width: 100%;
  margin-bottom: 20px;
  .sub-h {
    grid-area: subh;
  }
  .section-h-2 {
    margin-top: 0.5rem;
    margin-bottom: .5rem;
    grid-area: header;
    span {
      color: var(--primary);
    }
  }
  .text {
    margin-bottom: 0.9rem;
    grid-area: text;
  }

  .bottom {
    grid-area: bottom;
  }

  .margin-class {
    margin-bottom: 10px;
    grid-area: btn;
  }

  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns:2.8fr 1fr;
    grid-template-areas:
      "subh   ."
      "header btn"
      "text   btn"
      "bottom   bottom";

    .margin-class {
      margin: auto;
      margin-top: 0;
      margin-right: 0;
    }
  }
}
