.header2 {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  .sub-h {
    grid-area: subh;
  }
  .section-h-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    grid-area: header;
    span {
      color: var(--primary);
    }
  }
  .text {
    margin-bottom: 0.9rem;
    grid-area: text;
  }

  .bottom {
    grid-area: bottom;
  }

  .margin-class {
    margin-bottom: 10px;
    grid-area: btn;
  }
}
