.quote {
  display: flex;
  flex-direction: column;
  gap: 24px;

  img {
    width: 90px;
  }

  .text {
    font-style: italic;
    font-size: 21px;
    font-weight: 400;
    color: #778482;
  }
  .name {
    font-size: 22px;
    font-weight: 600;
  }
  .subinfo {
    color: #6f948d;
    font-size: 18px;
  }
}
