#faqs {
  .accordion {
    display: flex;
    flex-direction: column;
  }
  .items {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .item {
    padding: 0 0 10px 0;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    gap: 0;
    label {
      padding: 20px 20px;
    }
    p {
      transition: 0.3s ease;
      padding: 0px 20px 0;
      max-height: 0;
      transform-origin: bottom;
      overflow: hidden;
    }
  }
  input {
    display: none;
  }
  input:nth-of-type(1):checked ~ .items .item:nth-of-type(1) label {
    background-color: var(--primary);
    color: #fff;
  }
  input:nth-of-type(1):checked ~ .items .item:nth-of-type(1) p {
    padding-top: 20px;
    max-height: 500px;
  }
  input:nth-of-type(2):checked ~ .items .item:nth-of-type(2) label {
    background-color: var(--primary);
    color: #fff;
  }
  input:nth-of-type(2):checked ~ .items .item:nth-of-type(2) p {
    max-height: 500px;
    padding-top: 20px;
  }
  input:nth-of-type(3):checked ~ .items .item:nth-of-type(3) label {
    background-color: var(--primary);
    color: #fff;
  }
  input:nth-of-type(3):checked ~ .items .item:nth-of-type(3) p {
    padding-top: 20px;
    max-height: 500px;
  }
}

@media screen and (min-width: 0) {
  #faqs {
  }
}
