
#team {
  .items {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .item {
    display: flex;
    flex-direction: column;
    gap: 0;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.08);
    .img-container {
      background-color: #f6f6f6;
    }
    .info {
      background-color: #fff;
      padding: 20px;
    }
    .item-h {
      color: #010103;
      font-size: 28px;
      font-weight: 700;
      line-height: 42px;
    }
  }
}

@media screen and (min-width: 768px) {
  #team {
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }
}
