#to-top {
  position: fixed;
  bottom: -100%;
  right: 1rem;
  background-color: var(--primary);
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  transition: 0.8s;
  border: 2px solid #fff;
  &:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.35);
  }
}

.show {
  transition: 0.8s;
  bottom: 3rem !important;
}
