.courselist2 {
  gap: 40px;
  .item {
    display: flex;
    flex-direction: column;
    gap: 0;
    .img-container {
      position: relative;
      overflow: hidden;
      img {
        transition: 0.4s;
        z-index: -1;
        height: 100%;
      }
      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgb(235, 235, 235);
        opacity: 0;
        transition: 0.4s;
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #227179;
        font-size: 20px;
        gap: 8px;

        padding: 24px;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        display: none;
        span {
          display: flex;

          gap: 16px;
          opacity: 1;
          img {
            width: 20px;
            transition: 0.4s;
          }
        }
      }
      &:hover {
        .content {
          opacity: 1;
          display: flex;
        }
        .display {
          transform: scale(1.2);
        }
        &::after {
          opacity: 0.8;
        }
      }
    }
    .info {
      padding: 24px;
      background-color: var(--white);
      span {
        display: flex;
        align-items: center;
        gap: 4px;
        color: #a2a2a2;
        p {
          color: #227179;
        }
      }
      .title {
        font-size: 22px;
        color: #227179;
        font-weight: 500;
      }
      .price {
        margin-top: 16px;
        font-size: 24px;
        color: #404b48;
        font-weight: 600;
      }
    }
  }
  @media screen and (min-width: 850px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
  @media screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
