#hero {
  min-height: 333px;
  width: 100vw;
  padding-top: 110px;
  position: relative;
  background-color: #dbe8e7;
  padding: 120px 0px 60px;
  .container {
    height: 100%;
    position: relative;
  }
  .left {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 68%;
    max-width: 600px;
  }
  .header {
    font-size: 29px;
    color: #404b48;
  }
  span {
    font-size: 26px;
    color: #6f948d;
  }
  p {
    font-size: 12px;
    color: #547670;
    width: 90%;
  }
  a {
    font-size: 10px;
  }
  .right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: fit-content;
    transform: translate(50%, -0%);
    margin: auto;
    width: 266px;
    height: 220px;
  }

  @media screen and (min-width: 425px) {
    .right {
      transform: translate(50%, 0%);
      width: 320px;
    }
  }

  @media screen and (min-width: 768px) {
    overflow: hidden;
    height: 603px;
    .left {
      justify-content: center;
      height: 100%;
    }
    .right {
      transform: translate(40%, -50%);
      width: 640px;
    }
    .header {
      font-size: 51px;
    }
    span {
      font-size: 45px;
    }
    p {
      width: 70%;
    }
    a {
      font-size: 16px;
    }
  }
  @media screen and (min-width: 1024px) {
    height: 804px;
    .right {
      width: 853px;
      transform: translate(40%, -80%);
    }
    .header {
      font-size: 68px;
    }
    span {
      font-size: 60px;
    }
  }
  @media screen and (min-width: 1440px) {
    height: 1005px;
    .right {
      width: 1066px;
      transform: translate(30%, -120%);
    }
    .header {
      font-size: 85px;
    }
    span {
      font-size: 75px;
    }
    p {
      font-size: 21px;
    }
  }
}

// Features
#features {
}

// ----------------------classes-----------------------
#classes {
  .items {
    margin-left: -270px;
    width: 1000%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    transition: 0.4s;
  }
  .item {
    max-width: 250px;
    position: relative;

    .img-container {
      position: relative;
      .content-items {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        gap: 0.5rem;
        opacity: 0;
        transition: 0.4s;
      }
      img {
        opacity: 0.6;
      }
      .active {
        opacity: 1;
      }
    }
    .img-container:hover {
      .content-items {
        opacity: 1;
      }
    }
    .item-info {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: var(--white);
      padding: 25px 30px 35px;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      margin: 0 20px;
      margin-top: -30px;
      gap: 4px;
      .instructor {
        color: #afafaf;
      }
      .class {
        color: #227179;
        font-style: 21px;
        font-weight: 500;
      }
      .price {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 600;
      }
    }
  }

  @media screen and (min-width: 375px) {
    .items {
      margin-left: -325px;
    }
    .item {
      max-width: 305px;
    }
  }
  @media screen and (min-width: 425px) {
    .items {
      margin-left: -375px;
    }
    .item {
      max-width: 354px;
    }
  }

  @media screen and (min-width: 768px) {
    .items {
      margin-left: -374px;
    }
  }

  @media screen and (min-width: 1024px) {
    .item {
      max-width: 412px;
    }
  }
  @media screen and (min-width: 1080px) {
    .item {
      max-width: 470px;
    }
  }
}
// ----------------------End of Classes----------------

// ----------------------foundation-----------------------
// #foundation {
// }
// ----------------------End of foundation---------------

// ----------------------instructors-----------------------
#instructors {
  .container::before {
    display: block;
    content: "";
    height: 2px;
    width: 38px;
    background-color: #e6e6e6;
    margin-bottom: 40px;
  }
  .items {
    margin-left: 0;
  }
  .item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    .item-info {
      padding-top: 37px;
      .instructor {
        color: #227179;
        font-size: 23px;
        font-weight: 500;
        padding-bottom: 8px;
      }
      .class {
        color: #afafaf;
        padding: 8px;
        border-bottom: 1px solid #e6e6e6;
        width: fit-content;
        margin: auto;
      }
    }
  }
  @media screen and (min-width: 375px) {
    .item {
      width: 305px;
    }
  }

  @media screen and (min-width: 768px) {
    .item {
      width: 216px;
    }
  }

  @media screen and (min-width: 1024px) {
    .item {
      width: 301px;
    }
  }
  @media screen and (min-width: 1440px) {
    .item {
      width: 400px;
    }
  }
}
// ----------------------End of instructors---------------

// ----------------------featured-in-----------------------
#featured-in {
  text-align: center;
  background-color: #f5f5f5;
  padding-bottom: 70px;
  h3 {
    font-size: 25px;
    font-weight: 400;
    color: #547670;
    margin-bottom: 60px;
    letter-spacing: 1px;
  }
  .items {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 425px) {
    .items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media screen and (min-width: 860px) {
    .items {
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
// ----------------------End of featured-in---------------

// ----------------------Articles-----------------------
#articles {
  .header {
    font-size: 40px;
    font-weight: 500;
    color: rgb(34, 113, 121);
  }
  .text {
    font-size: 19px;
    color: #506762;
  }
  .left::after {
    content: "";
    width: 38px;
    height: 2px;
    background-color: #d7d7dd;
  }
  .items {
    gap: 12px;
    color: #6f948d;
    .item {
      display: flex;
      align-items: center;
      gap: 16px;
    }
    svg {
      width: 20px;
    }
  }
  @media screen and (min-width: 375px) {
    .items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  // @media screen and (min-width: 940px) {
  //   .left::after {
  //     position: absolute;
  //     bottom: -4rem;
  //   }
  // }
}
// ----------------------End of Articles---------------

// ----------------------Testimonials-----------------------
#testimonials {
  .items {
    margin-left: 0;
    gap: 40px;
    width: 400%;
  }
  .item {
    padding: 40px;
    padding-bottom: 60px;
    width: 25%;
    background-color: var(--white);
    border-bottom: 4px solid #227179;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.09);
    line-height: 1.7;
    height: fit-content;
    color: #848484;
    .item-info {
      display: grid;
      grid-template-areas:
        "img name"
        "img customer";
      grid-template-columns: 20% 1fr;
      gap: 16px;
      row-gap: 1px;
      margin-top: 16px;
      img {
        aspect-ratio: 1;
        border-radius: 50%;
        grid-area: img;
        object-fit: cover;
      }
      .name {
        color: #6f948d;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        height: fit-content;
        margin-top: auto;
      }
      .customer {
        color: #3b3b3b;
        font-weight: 500;
      }
    }
  }
}
// ----------------------End of Testimonials---------------

// ----------------------Newsletter-----------------------
#newsletter {
}
// ----------------------End of Newsletter---------------
