#whychooseus {
  .sbs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .blue {
    background-color: var(--primary);
    color: #fff;
    padding: 100px 24px 24px 24px;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span,
    p {
      color: inherit;
    }
  }
  .row {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    .small-row {
      margin: auto;
      width: fit-content;
    }
    a {
      width: 100%;
    }
  }
  .group {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 768px) {
    .group {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 80px;
      row-gap: 30px;
    }
  }
  @media screen and (min-width: 1024px) {
    .blue {
      padding: var(--containerPadding);
    }
    .sbs {
      display: grid;
      grid-template-columns: 0.8fr 1fr;
      gap: 20px;
    }
  }
}
