.header {
  font-size: 43px;
  font-weight: 600;
  color: rgb(34, 113, 121);
}
.subheader {
  font-size: 25px;
  font-weight: 400;
  color: #3dbca8;
  position: relative;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
}
.subheader::after {
  content: "";

  display: block;
  height: 2px;
  width: 65px;
  background-color: #dbe8e7;
}

@media screen and (min-width: 768px) {
  .subheader::after {
    position: absolute;
    left: 100%;
    margin-left: 20px;
    bottom: 5px;
  }
}
